<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log.name" value="logs/userservice"/>

    <!-- stdout 标准输出， 打印在console上的日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log.name}.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
            <!-- 单个日志文件最多 128MB -->
            <maxFileSize>128MB</maxFileSize>
            <!--只保留最近7天的日志-->
            <maxHistory>7</maxHistory>
            <!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志-->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <!-- 追加方式记录日志 -->
        <append>true</append>
        <!--日志输出编码格式化-->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%t] %-5level %logger{36}.%M\(%file:%line\) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 特殊package下，指定日志打印级别   -->
    <logger name="org.springframework" level="info" />
    <logger name="org.hibernate" level="warn" />
    <logger name="com" level="debug" />

    <!-- 生产环境下，将此级别配置为适合的级别，以免日志文件太多或影响程序性能 -->
    <root level="debug">
        <!-- 建议生产环境下，不要输出console日志-->
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>

    </root>

</configuration>
